<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="@/resources/html/bag/bag.css"/>
  <link rel="shortcut icon" href="#"/>
  <style>
    body {
    width: 100%;
    text-align: center;
    background:url('@/resources/img/player/player.jpg');
    background-size: 100% 100%;
  }
  </style>
</head>
<body>
  <div class="header"></div>
  <div class="card_box">
    <div class="user_top_left">
      <div class="user_top_img_bottom">
        <!-- <img class="user_top_img" src="12" onerror="whenError(this)"/> -->
      </div>
      <div class="user_top_font_left">{{player.id}}</div>
    </div>
    <div class="user_top_right">
      <div class="user_top_font_right">道号：{{player.name}}</div>
      <div class="user_top_font_right">
        生命：
        <div class="blood_box">
          <div class="blood_bar" {{strand_hp.style}}></div>
          <div class="blood_volume">{{player.当前生命}}/{{player.生命上限}}</div>
        </div>
      </div>
    </div>
  </div>
  {{if bag.道具.length > 0}}
    <div class="card_box">
      <div class="use_data">
        <div class="user_font user_font_title">【道具】</div>
        <div class="user_font wupin">
          {{each bag.道具 item}}
            <div class="item">
              <div class="item_int">名字：{{item.name}}</div>
              <div class="item_int">类别：{{item.type}}</div>
              <div class="item_int">品级：{{item.品级}}</div>
              <div class="item_int">价格：{{item.价格}}</div>
              <div class="item_int">数量：{{item.数量}}</div>
              <div class="item_int">介绍：{{item.介绍}}</div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
  {{if bag.功法.length > 0}}
  <div class="card_box">
    <div class="use_data">
      <div class="user_font user_font_title">【功法】</div>
      <div class="user_font wupin">
        {{each bag.功法 item}}
          <div class="item">
            <div class="item_int">名字：{{item.name}}</div>
            <div class="item_int">类别：{{item.type}}</div>
            <div class="item_int">品级：{{item.品级}}</div>
            <div class="item_int">价格：{{item.价格}}</div>
            <div class="item_int">数量：{{item.数量}}</div>
            <div class="item_int">介绍：{{item.介绍}}</div>
            <div class="item_int">修炼加成：{{item.功效.修炼加成}}</div>
            <div class="item_int">防御加成：{{item.功效.防御加成}}</div>
            <div class="item_int">攻击加成：{{item.功效.攻击加成}}</div>
            <div class="item_int">生命加成：{{item.功效.生命加成}}</div>
            <div class="item_int">闪避加成：{{item.功效.闪避加成}}</div>
            <div class="item_int">暴击加成：{{item.功效.暴击加成}}</div>
            <div class="item_int">爆伤加成：{{item.功效.爆伤加成}}</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
{{if bag.已学习功法.length > 0}}
  <div class="card_box">
    <div class="use_data">
      <div class="user_font user_font_title">【已学习功法】</div>
      <div class="user_font wupin">
        {{each bag.已学习功法 item}}
          <div class="item">
            <div class="item_int">名字：{{item.name}}</div>
            <div class="item_int">类别：{{item.type}}</div>
            <div class="item_int">品级：{{item.品级}}</div>
            <div class="item_int">价格：{{item.价格}}</div>
            <div class="item_int">数量：{{item.数量}}</div>
            <div class="item_int">介绍：{{item.介绍}}</div>
            <div class="item_int">修炼加成：{{item.功效.修炼加成}}</div>
            <div class="item_int">防御加成：{{item.功效.防御加成}}</div>
            <div class="item_int">攻击加成：{{item.功效.攻击加成}}</div>
            <div class="item_int">生命加成：{{item.功效.生命加成}}</div>
            <div class="item_int">闪避加成：{{item.功效.闪避加成}}</div>
            <div class="item_int">暴击加成：{{item.功效.暴击加成}}</div>
            <div class="item_int">爆伤加成：{{item.功效.爆伤加成}}</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
  <div class="user_bottom2"></div>
</body>
</html>